# Django
SECRET_KEY='Django secrete key'
DEBUG=1
SERVER_PORT=8000
RAPIDOC_PORT=8090

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=db  # to use django locally (not in container) - change host to `localhost`

# Cache
REDIS_PORT=6379
REDIS_HOST=0.0.0.0
REDIS_CACHE_LOCATION=1
CACHE_KEY_PREFIX=example

# Project
PROJECT=sibdev